html {
  box-sizing: border-box;
  font-size: 62.5%;
}
/* header-navigation bar */

header {
  background-color: #f8dd74;
  padding-top: 0.1rem;
  padding-bottom: .5rem;
}

header h1 {
  color:#4a60e3;
  font-family: 'Indie Flower', cursive;
  font-size: 5rem;
  margin-left: 3rem;
  margin-bottom: 1.3rem;
}

header nav {
  display: flex;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 1.2rem;
}

header nav button {
  transition: all .2s ease-in-out; 
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin-left: 3rem;
  padding: .4rem 1.2rem;
  color: white;
  background-color: lightcoral;
  border-radius: 0.4rem;
  border: solid;
  box-shadow: 0 0 5px white;
}
 
header nav button:hover { 
  transform: scale(1.2);
  cursor: pointer;
}


/* section-intro */
#intro {
  display: flex;
  flex-wrap: nowrap;
}

#intro img {
  margin: 1rem 4rem 2rem 1rem;
  height: 50%;
  width: 38%;
  border-radius: 0.5rem;
}

#introMe {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: 1rem;
}

#introMe h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 250%;
  margin-bottom: 0.8rem;
}

#introMe button {
  transition: all .2s ease-in-out; 
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  padding: 0.4rem 1.6rem;
  color: white;
  background-color: lightcoral;
  border: solid;
  box-shadow: 0 0 8px palevioletred;
  border-radius: 0.4rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

#introMe button:hover {
  transform: scale(1.1); 
}

#introMe p {
  font-family: 'Architects Daughter', cursive;
  max-width: 80%;
  font-size: 180%;
  line-height: 2.5rem;
  margin-right: 3rem;
}

/* section-images */
#images {
  display: flex;
  flex-flow: wrap;
  margin-left: 0.5rem;
}

#images img {
  margin: 0.5rem;
}

/* footer */
footer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-top: 2rem;
  background-color: #f8dd74;
}

footer h3 {
  font-size: 1.8rem;
  margin-top: 3rem;
}

footer button {
  color: white;
  background-color: lightcoral;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  padding: .5rem 2rem;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
  border: solid;
  box-shadow: 0 0 5px white;
  transition: all .2s ease-in-out;
}

footer button:hover {
  color: white;
  transform: scale(1.4);
  background-color: lightcoral;
  border: solid;
  cursor: pointer;
}

footer a img {
  margin-top: 0;
  height: 5rem;
  width: 5rem;
  margin-bottom: 1rem;
}

footer a img:hover {
  background-color: #0077b5;
  border-radius: .7rem;
  border: 2px#0077b5;

}

@media all and (max-width: 800px) {
  /* header */
  header {
    padding-bottom: 1.2rem
  }

  header h1 {
    text-align: center;
    padding-bottom: 1.5rem;
    margin-left: 0;
    border-bottom: 1px dashed grey;
  }

  header nav {
    margin: 0 auto;
    justify-content: space-evenly;
  }

  header nav button {
    margin: 0;

  }

/* intro */
  #intro {
    flex-wrap: wrap;
  }

  #intro h3 {
    margin: 0 auto;
    border-bottom: solid 2px grey;
    padding: 0 1rem 1rem;
  }

  #intro img {
    margin: 1.5rem auto;
  }

  #introMe {
    align-items: center;
  }

  /* projects-images */
  #images {
    justify-content: space-evenly;
    border-top: 1px dashed grey;
    padding-top: 1rem;
  }
}

@media all and (max-width: 500px) {
  /* header */
  header h1 {
    text-align: center;
  }

  header nav {
    justify-content: space-around;
    margin: 2rem auto;
  }

  /* intro */ 
  #intro {
    flex-wrap: wrap;
    justify-content: center;
  }

  #intro img {
    margin: 1.5rem auto;
  }

  #introMe button {
    margin: 1rem auto;
  }

  #introMe h3 {
    font-size: 2rem;
  }

  #introMe p {
    margin: 0 auto;
    font-size: 1.5rem;
  }
  /* projects-images */
  #images {
    justify-content: space-evenly;
  }
}

@media all and (max-width: 1374px) {
  header h1 {
    text-align: center;
    padding-bottom: 1.5rem;
    margin-left: 0;
    border-bottom: 1px dashed grey;
  }

  header nav {
    margin: 0 auto;
    justify-content: space-evenly;
  }
  header nav button {
    margin: 0;
  }

  /* intro */
  #intro {
    flex-wrap: wrap;
  }

  #intro h3 {
    margin: 0 auto;
    border-bottom: solid 2px grey;
    padding: 0 1rem 1rem;
  }
  #intro img {
    margin: 1.5rem auto;
  }

  #introMe {
    align-items: center;
  }

  /* projects-images */
  #images {
    justify-content: space-evenly;
    border-top: 1px dashed grey;
    padding-top: 1rem;
  }
}
}